@charset "UTF-8";

/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variáveis de CSS */

:root {
    --cor-titulo: #1c4966;
    --cor-subtitulo: #296d98;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Inter';
}

/* Imagem de fundo */

body {
    background-color: white;
    background-image: url(../imagens/fundo-code-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Configurações do formulário */

main {
    max-width: 600px;
    background-color: white;
    padding: 10px;
    margin: auto;
    border-top: 5px solid var(--cor-subtitulo);
    border-bottom: 5px solid var(--cor-subtitulo);
    border-radius: 10px;
    font-family: var(--font-destaque);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: var(--cor-titulo);
}

fieldset {
    margin: 10px;
    border-radius: 5px;
    border-color: var(--cor-subtitulo);
}

legend {
    font-weight: 700;
    color: var(--cor-subtitulo);
}

input {
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

input:focus {
    border: 2px solid var(--cor-subtitulo);
}

/* Caixa de texto "Fale sobre você" */

textarea {
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

textarea:focus {
    border: 2px solid var(--cor-subtitulo);
}

/* Escolher o estado*/

select {
    border-radius: 5px;
}

select:focus {
    border: 2px solid var(--cor-subtitulo);
}

/* Botão de enviar */

.enviar {
    background-color: var(--cor-titulo);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.enviar:hover {
    background-color: var(--cor-subtitulo);
    border: 1px solid black;
    color: white;
}
